<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543017744396-u6cilh79a019qbaomlokvf64032ha4rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543017744396-u6cilh79a019qbaomlokvf64032ha4rh</string>
	<key>API_KEY</key>
	<string>AIzaSyCRoXNaHUvjr98FIkO2b49lwoxL5BM7Vyc</string>
	<key>GCM_SENDER_ID</key>
	<string>543017744396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pavel</string>
	<key>PROJECT_ID</key>
	<string>pavelid</string>
	<key>STORAGE_BUCKET</key>
	<string>pavelid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543017744396:ios:14ff369cfe7e25c6c41629</string>
</dict>
</plist>